.logoBox {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.logo {
  height: 50px;
  width: auto;
  display: block;
}

.link:hover {
  color: blue !important;
}

.link {
  text-decoration: none !important;
  color: black !important;
}
